<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Storehouse Coffee">
    <meta name="author" content="Eric Collard">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <script src="https://kit.fontawesome.com/9fbf6c4d27.js" crossorigin="anonymous"></script>
    <title>Storehouse Coffee</title>
</head>
    <body>


<!-- #region Initial Code -->
        <header>
            <div id="logo">
                <img src="../static/Images/storehouseLogoT.png" alt="Logo for Storehouse Coffee">
            </div>
            <div id="logo-alt">
                <h2>The</h2>
                <h1>Storehouse</h1>
                <h3>Coffee</h3>
                <h3>& gifts</h3>
            </div>
        </header>

        <div id="hours-container">
            <h4 id="hours-title">The Storehouse Coffee</h4>
            <h2 class="hours-new">New Hours</h2>
            <div id="hours-div"><h4>Square Location Only</h4></div>
            <h4 class="hours-days">Monday - Wednesday 7am - 2pm</h4>
            <h4 class="hours-days">Thursday - Friday 7am - 5pm</h4>
            <h4 class="hours-days">Saturday 8am - 1pm</h4>
            <h2 class="hours-new">New Lunch Days</h2>
            <h4 class="hours-days">Monday - Chicken Salad Day</h4>
            <h4 class="hours-days">Tuesday - Salad / Wrap Day</h4>
            <h4 class="hours-days">Wednesday - Charcuterie Day</h4>
        </div>
<!-- #endregion -->


        <div id="backgrounds" class="home-bg"></div>



        <nav id="navbar">
            <a href="#" class="navbar-link" id="home"><h3>Home</h3></a>
            <a href="#" class="navbar-link" id="menu"><h3>Menu</h3></a>
            <a href="#" class="navbar-link" id="shop"><h3>Shop</h3></a>
            <a href="#" class="navbar-link" id="catering"><h3>Catering</h3></a>
            <a href="#" class="navbar-link" id="about"><h3>About</h3></a>
            <a href="#" class="navbar-link" id="cart"><i class="fa-solid fa-cart-shopping"></i></a>
        </nav>



        <div id="page-content"></div>




        <script src="../static/JS/script.js"></script>
    </body>
</html>